@media {
    .component-edit {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

/*HEADER*/
@media {
    .component-edit .header-code {
        background: aliceblue;
        background: #1a1a1a;
        /* border-bottom: 1px solid #666; */
        box-sizing: border-box;
        display: flex;
        /* padding: 10px; */
        position: relative;
        width: 100%;
        z-index: 12345;
    }

    .component-edit .header-code > section {
        align-items: center;
        display: flex;
        flex: 1;
        /* gap: 10px; */
    }
    
    .component-edit .header-code .code-file > section {
        display: flex;
        gap: 5px;
    }  
    
    .component-edit .header-code .file-menu > section i {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }   
    
    .component-edit .header-code .file-meta {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
    .component-edit .header-code .file-meta > section {
        flex-direction: column;
    }   
    
    .component-edit .header-code .file-meta .meta-title {
        font-weight: bolder;
    }
    
    .component-edit .header-code .file-meta .meta-owner {
        font-size: 14px;
    }
    
    .component-edit .header-code .code-buttons {
        margin-left: auto;
    }
    
    .component-edit .header-code .buttons-group > section {
        display: flex;
        gap: 5px;
    }  
    
    .component-edit .header-code .buttons-group > section i {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }

    .component-edit .header-code .code-authenticate .authenticate-avatar {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 50px;
    }

    .component-edit .header-code .code-authenticate .authenticate-avatar .avatar-image {
        align-items: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
    }

    .component-edit .header-code .code-authenticate .authenticate-avatar .avatar-image:empty {
        background-color: white;
        background-image: url(/raw/asset/svg/github.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 75%;
        filter: invert(1);
    }

    .component-edit .header-code .code-authenticate .authenticate-avatar .avatar-image img {
        /* filter: invert(1); */
        border-radius: 50%;
        height: 100%;
        margin: 0;
        width: 100%;
    }
}

/*ASIDE*/
@media {
    .component-edit .aside-code {
        background: #292a2d;
        display: flex;
        height: calc(100% - 50px);
        width: 400px;
    }

    .component-edit .aside-code > section {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
    
    .component-edit .aside-code .code-file  {
        background: #555;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: calc(100%/3);
        width: 100%
    }
    
    .component-edit .aside-code .code-html {
        /* background: red; */
        /* height: 100%; */
        /* width: 100%; */
    }
    
    .component-edit .aside-code .code-css {
        /* background: green; */
        /* height: 100%; */
        /* width: 100%; */
    }
    
    .component-edit .aside-code .code-js {
        /* background: blue; */
        /* height: 100%; */
        /* width: 100%; */
    }
    
    .component-edit .aside-code .code-file > section {
        display: flex;
        flex: 1;
        overflow-x: hidden;
    }
    
    .component-edit .aside-code .code-file > section > box {
        display: flex;
        flex: 1;
    }
    
    .component-edit .aside-code .code-file > section > box > section {
        background: #555;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex: 1;
        position: relative;
    }
    
    .component-edit .aside-code .code-file > section > box > section .CodeMirror {
        background: #555;
        height: 100%;
        width: 100%;
        /* flex: 1; */
    }
    
    .component-edit .aside-code .code-file header {
        align-items: center;
        background: #292a2d;
        display: flex;
        height: 50px;
        width: 100%;
    }
    
    .component-edit .aside-code .code-file header .file-type {
        align-items: center;
        background: #555;
        border-top: 4px solid #777;
        box-sizing: border-box;
        display: flex;
        font-weight: bolder;
        height: 100%;
        padding: 0 10px;
    }
    
    .component-edit .aside-code .code-html header .file-type {
        /* background: red; */
    }
    
    .component-edit .aside-code .code-css header .file-type {
        /* background: green; */
        height: 100%;
    }
    
    .component-edit .aside-code .code-js header .file-type {
        /* background: blue; */
        height: 100%;
    }
}

@media {
    .component-edit .block-line {
        background: #333;
        height: calc(100% - 50px);
        width: 20px;
    }
}

/*BLOCK*/
@media {
    .component-edit .block-code {
        display: inline-flex;
        flex: 1;
        height: 100%;
        /* width: 100%; */
    }
    
    .component-edit .block-code {
        display: inline-flex;
        flex: 1;
        height: calc(100% - 50px);
        /* width: 100%; */
    }
}