@media {
    body {
        font-family: Arial;
        margin: 0;
    }

    body.dragging iframe {
        pointer-events: none;
    }

    body > aside {
        position: absolute;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        /* background: white; */
    }

    body > aside::-webkit-scrollbar {
        width: 0px;
    }

    form {
        margin: 0;
    }

    button {
        background: none;
        border: 0;
        padding: 0;
        -webkit-appearance: none;
    }

    column, flex, row, section {
        display: flex;
        /* flex: 1; */
    }

    column {
        flex-direction: column;
    }

    i:has(con) {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    iframe {
        background: white;
        border: 0;
        flex: 1;
        /* height: 100%; */
        width: 100%;
    }

    input[type="text"] {
        background-color: transparent;
        bordeR: none;
    }

    input[type="text"]:focus {
        outline: none;
    }

    picture {
        position: relative;
    }
}

@media {
    [data-before]::before {
        content: attr(data-before)
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
        opacity: 0.5;
    }
}

@media {
    component, .component {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
    }

    [component]:not(.active) {
        display: none;
    }

    dropdown {
        position: relative;
    }
}

@media {
    ::-webkit-scrollbar {
        width: 0px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
