@media {
    body:has(.active[routes="/*/*/wide"]) .header-shell {
        display: none;
    }
    
    body:has(.active[routes="/*/*/edit"]) .header-shell {
        display: none;
    }
    
    .header-shell {
        background: #292a2d;
        border-bottom: 1px solid #555;
        box-sizing: border-box;
        height: 50px;
        padding: 0 10px;
        position: fixed;
        width: 100%;
        z-index: 12345;
    }
    .header-shell > row {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
    }
    
    .header-shell .shell-brand .brand-image > section {
        align-items: center;
        justify-content: center;
    }
    
    .header-shell .shell-brand .brand-image i {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
        margin-left: auto;
        width: 30px;
    }
    
    .header-shell .shell-authenticate {
        height: 30px;
        margin-left: auto;
        width: 30px;
    }
    
    .header-shell .shell-authenticate .authenticate-avatar avi {
        border-radius: 50%;
        height: 30px;
        overflow: hidden;
        width: 30px;
    }
    
    .header-shell .shell-authenticate .authenticate-avatar avi:empty {
        border: 1px solid #555;
        box-sizing: border-box;
    }

    .header-shell .shell-authenticate .authenticate-avatar avi img {
        height: 100%;
        width: 100%;
    }
}