@media {
    body:has(.active[routes="/*/*/wide"]) .header-user {
        display: none;
    }

    body:has(.active[routes="/*/*/edit"]) .header-user {
        display: none;
    }

    .header-user {
        background: #292a2d;
        /* border-bottom: 1px solid #555; */
        box-sizing: border-box;
        height: 50px;
        padding: 0 10px;
        position: fixed;
        width: 100%;
        z-index: 12345;
        background: #292a2d;
        background: #444;
        box-sizing: border-box;
        height: 50px;
        padding: 0 10px;
        position: fixed;
        width: 100%;
        z-index: 12345;
    }

    .header-user > row {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
    }

    .header-user .shell-brand .brand-image > section {
        align-items: center;
        justify-content: center;
    }

    .header-user .shell-brand .brand-image i {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
        margin-left: auto;
        width: 30px;
    }

    .header-user dropdown {
        height: 30px;
        margin-left: auto;
        width: 30px;
    }

    .header-user dropdown:last-child > .active {
        background: #292a2d;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 10pc -9px black;
        border-radius: 5px;
        font-size: 13px;
        font-weight: bolder;
        line-height: 36px;
        overflow: hidden;
        /* padding: 0px 20px; */
        position: absolute;
        width: 160px;
        right: 10px;
        top: calc(100% - 5px);
        z-index: 1234;
    }

    .header-user dropdown:last-child > .active text:not(:last-child) {
        border-bottom: 1px solid #444;
        /* padding: 0 20px; */
    }

    .header-user dropdown:last-child > .active text span {
        padding: 0 20px;
    }

    .header-user dropdown:last-child > .active text {
        display: flex;
        flex-direction: column;
    }

    .header-user dropdown:last-child > .active text span {
    }

    .header-user dropdown:last-child > .active text span:hover {
        background: #777;
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex i {
        height: 36px;
        width: 36px;
    }

    .header-user .shell-authenticate {
        height: 30px;
        margin-left: auto;
        width: 30px;
    }

    .authenticate-avatar avi {
        border-radius: 50%;
        height: 30px;
        overflow: hidden;
        width: 30px;
    }

    .authenticate-avatar avi:empty {
        border: 1px solid #555;
        box-sizing: border-box;
    }

    .authenticate-avatar avi img {
        height: 100%;
        width: 100%;
    }

    .code-authenticate .authenticate-avatar i {
        box-sizing: border-box;
        border-radius: 50%;
        height: 30px;
        overflow: hidden;
        width: 30px;
    }

    .code-authenticate .authenticate-avatar i:has(img:not([src])) {
        border: 1px solid #777;
    }

    .header-user dropdown > :first-child + *:not(.active) {
        display: none;
    }
}
