@media {
    aside:has([modal=""]) {
        /* backdrop-filter: blur(20px); */
        background-color: rgba(0,0,0,0.5);
        /* display: flex; */
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        width: 100%;
    }
}

@media {    
    aside:has([modal=""]) blocks {
        align-items: center;
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media {
    [modal=""] {
        background: #111;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        margin: 60px auto;
        min-height: 240px;
        overflow: hidden;
        padding: 0 0px 0px;
        width: 640px;
    }
}