@media {
    .component-snip {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .component-snip:has(header.header-code .buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) {
        align-items: stretch;
        height: auto;
        overflow-x: hidden;
    }
}

@media {
    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ block.block-details {
        display: flex;
    }
    
    .component-snip .block-details {
        display: none;
        position: relative;
        order: 6;
    }
}

/*HEADER*/
@media {
    .component-snip .header-code {
        background: aliceblue;
        background: #1a1a1a;
        /* border-bottom: 1px solid #666; */
        box-sizing: border-box;
        display: flex;
        height: 50px;
        /* padding: 10px; */
        position: relative;
        width: 100%;
        z-index: 12345;
        order: 1;
    }

    .component-snip .header-code {
    }

    .component-snip .header-code:has(flex.active) {
        z-index: 1234567890;
    }

    .component-snip .header-code:has(.code-buttons > section > dropdown > .active:last-child) ~ .block-code:before {
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        width: 100%;
    }

    .component-snip .header-code:has(dropdown > .active:last-child) ~ .aside-code:before, .component-snip .header-code:has(dropdown > .active:last-child) ~ .block-code:before {
        /* backdrop-filter: blur(10px); */
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 12345;
    }

    .component-snip .header-code > section {
        align-items: center;
        display: flex;
        flex: 1;
        /* gap: 10px; */
    }

    .component-snip .header-code .code-file > section {
        display: flex;
        gap: 5px;
    }

    .component-snip .header-code .file-menu > section i {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }

    .component-snip .header-code .file-meta {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .component-snip .header-code .file-meta > section {
        flex-direction: column;
    }

    .component-snip .header-code .file-meta .meta-title {
        font-weight: bolder;
    }

    .component-snip .header-code .file-meta .meta-owner {
        font-size: 14px;
    }

    .component-snip .header-code .code-buttons {
        margin-left: auto;
    }

    .component-snip .header-code .buttons-group > section {
        display: flex;
        gap: 5px;
        position: relative;
    }

    @media (min-width: 768px) {
        .component-snip .header-code .buttons-group > section dropdown:nth-child(4) > row > text {
            display: none;
        }
    }

    .component-snip .header-code .buttons-group > section > * {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex):not(.active) [drop="down"] + flex:not(.active) {
        display: none;
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex {
        background: #292a2d;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 10pc -9px black;
        color: white;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        padding: 0;
        padding: 10px 0;
        position: absolute;
        right: 0;
        /* bottom: calc(-50px); */
        top: 45px;
        min-width: 150px;
        /* width: 150px; */
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex > column text {
        display: flex;
        justify-content: space-between;
        line-height: 36px;
        padding: 0 20px;
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex > column text:hover {
        background: #777;
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex > column text.active {
        background: #555;
        line-height: 36px;
    }

    .component-snip .header-code > section > dropdown:last-child > column:not(.active) {
        display: none;
    }

    .component-snip .header-code > section > dropdown:last-child > column.active {
        background: #292a2d;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 10pc -9px black;
        border-radius: 5px;
        font-size: 13px;
        font-weight: bolder;
        line-height: 36px;
        overflow: hidden;
        /* padding: 0px 20px; */
        position: absolute;
        width: 120px;
        right: 10px;
        top: calc(100% - 5px);
    }

    .component-snip .header-code > section > dropdown:last-child > column.active text:not(:last-child) {
        border-bottom: 1px solid #444;
        /* padding: 0 20px; */
    }

    .component-snip .header-code > section > dropdown:last-child > column.active text span {
        padding: 0 20px;
    }

    .component-snip .header-code > section > dropdown:last-child > column.active text {
        display: flex;
        flex-direction: column;
    }

    .component-snip .header-code > section > dropdown:last-child > column.active text span {
    }

    .component-snip .header-code > section > dropdown:last-child > column.active text span:hover {
        background: #777;
    }

    .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex i {
        height: 36px;
        width: 36px;
    }

    /*LIST*/
    .component-snip .header-code .buttons-group > section > dropdown:nth-child(1) {
        display: none;
    }

    @media (max-width: 768px) {
        .component-snip .header-code .buttons-group > section > dropdown:nth-child(1) {
            display: flex;
        }

        .component-snip .header-code .buttons-group > section > dropdown:nth-child(1) > row i con {
            --ggs: 1.4;
        }
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(1):has([drop="down"] + flex) [drop="down"] + flex {
        box-shadow: 0 0 10pc -9px;
    }

    @media (max-width: 480px) {
        .component-snip .header-code .buttons-group > section dropdown:nth-child(1):has([drop="down"] + flex) [drop="down"] + flex {
            position: fixed;
            right: 5px;
        }
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(1):has([drop="down"] + flex) [drop="down"] + flex > column > text {
        align-items: center;
        display: flex;
    }

    /*LIST*/
    /*VIEW*/
    .component-snip .header-code .buttons-group > section dropdown:nth-child(5):has([drop="down"] + flex) [drop="down"] + flex > row {
        border: 2px solid #999;
        border-radius: 5px;
        min-width: auto;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(5):has([drop="down"] + flex) [drop="down"] + flex > row > * {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 50px;
        width: 70px;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > header {
        margin: 10px 20px 10px;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > header text {
        font-weight: bolder;
        font-size: 18px;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row {
        border: 2px solid #999;
        border-radius: 5px;
        margin: 0 20px 20px;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > picture.active {
        background: #999;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > picture:hover {
        background: #999;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > *:nth-child(2) {
        border-left: 2px solid #999;
        border-right: 2px solid #999;
    }

    @media {
        @media (max-width: 768px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(1).active) .buttons-group > section dropdown:nth-child(4) {
                display: none;
            }
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code {
            height: 50%;
            width: 100%;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code {
            height: calc((100% - 136px)/2);
            width: 100%;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code > section {
            display: flex;
            flex-direction: row;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code .code-file {
            height: 100%;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ line.block-line {
            border-bottom: 1px solid #777;
            border-top: 1px solid #777;
            height: 20px;
            width: 100%;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ block.block-code {
            flex: unset;
            height: calc((100% - 86px)/2);
            width: 100%;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(3).active) ~ line.block-line {
            border-left: 1px solid #777;
            border-right: 1px solid #777;
            height: calc(100% - 86px);
            order: 3;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(3).active) ~ aside.aside-code {
            height: calc(100% - 86px);
            order: 4;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(3).active) ~ block.block-code {
            flex: auto;
            height: calc(100% - 86px);
            order: 2;
            width: 50%;
        }
    }

    @media {
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code {
            height: calc((100% - 130px)/2);
            width: 100%;
        }
    }

    @media {
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(3).active) ~ line.block-line {
            display: none;
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(3).active) ~ aside.aside-code {
            display: none;
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(3).active) ~ block.block-code {
            flex: initial;
            width: 100%;
            height: calc(100% - 50px);
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(4).active) ~ aside.aside-code {
            height: 100%;
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(4).active) {
            display: none;
        }
                
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(4).active) ~ line.block-line {
            display: none;
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(4).active) ~ aside.aside-code {
            display: none;
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(4).active) ~ block.block-code {
            flex: initial;
            width: 100%;
            height: calc(100% - 50px);
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code {
            width: 100%;
            width: 50%;
            /* height: calc((100% - 136px)/2); */
            margin-top: 50px;
            min-height: 540px;
            /* position: absolute; */
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code:has(.file-icon:not(.active)) {
            width: 100%;
            /* height: calc((100% - 136px)/2); */
            margin-top: 50px;
            min-height: 540px;
            /* position: absolute; */
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section {
            flex-direction: row;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section .code-file:not(.active) {
            display: none;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section .code-file {
            height: 100%;
            height: 540px;
            width: 100%;
        }
        
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(4).active) ~ block.block-code {
            width: 100%;
            height: calc(100% - 0px);
        }

        @media (max-width: 768px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section .code-file {
                height: 100%;
                height: 540px;
            }
        }

        @media (max-width: 640px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section .code-file {
                height: 100%;
                height: 240px;
            }
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) {
            /* display: none; */
            width: 50px;
            width: auto;
        }

        @media (min-width: 641px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row > i {
                display: none;
            }

            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row > text {
                border: 1px solid;
                border-radius: 3px;
                display: flex;
                height: 36px;
                line-height: 36px;
                padding: 0 10px;
                white-space: nowrap;
                width: auto;
            }
        }

        @media (max-width: 768px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row > text {
                border: none;
            }
        }

        @media (max-width: 640px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row > text {
                /* display: none; */ display: flex;
                border: 1px solid;
                border: none;
                border-radius: 3px;
                gap: 8px;
                line-height: 30px;
                padding: 0 10px;
                padding: 0;
                white-space: nowrap;
            }
        }

        @media (min-width: 769px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row text i con {
                --ggs: calc(2/3);
            }

            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row text i {
                display: none;
            }
        }

        @media (max-width: 640px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row text span {
                display: none;
            }

            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) .buttons-group > section dropdown:nth-child(4) > row text i {
                height: 36px;
                width: 36px;
            }
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section .code-file > header {
            position: absolute;
            left: 0;
            top: -50px;
            width: 100vw;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > section .code-file > header > :not(:first-child) {
            display: none;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ .block-line {
            display: none;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ block.block-code {
            position: absolute;
            position: relative;
            margin-top: 50px;
            right: 0;
            width: 50%;
            top: 0;
            z-index: 123;
            /* height: calc((100% - 0px)/2); */
            height: 540px;
            /* margin-top: 0; */
        }

        @media (max-width: 640px) {
            .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ block.block-code {
                display: none;
                height: 240px;
            }
        }
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex [drop="down"] + flex > row > picture.active) {
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > * svg {
        height: 20px;
        width: 20px;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > * {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: center;
        width: 90px;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > *:first-child svg {
        transform: rotate(-90deg)
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > *:last-child svg {
        transform: rotate(90deg);
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex > row > * svg path {
        fill: #fff;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(4):has([drop="down"] + flex) [drop="down"] + flex.active:before {
        /* background: black; */
        content: '';
        display: flex;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 123;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(5):has([drop="down"] + flex) [drop="down"] + flex:not(.active) {
        display: none;
    }

    .component-snip .header-code .buttons-group > section dropdown:nth-child(5):has([drop="down"] + flex) [drop="down"] + flex > header {
        font-weight: bolder;
        width: 100%;
    }

    /*VIEW*/
    /**/
    @media (max-width: 768px) {
        .component-snip .header-code .buttons-group > section > i:nth-child(2), .component-snip .header-code .buttons-group > section > i:nth-child(3) {
            display: none;
        }
    }

    .component-snip .header-code .buttons-group > section > i:first-child {
        display: none;
    }

    @media (max-width: 768px) {
        .component-snip .header-code .buttons-group > section > i:first-child {
            display: flex;
        }

        .component-snip .header-code .buttons-group > section > i:first-child .gg-layout-list {
            --ggs: 1.4;
        }
    }

    .component-snip .header-code .buttons-group .dropdown {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: Center;
        width: 50px;
    }

    @media (max-width: 768px) {
        .component-snip .header-code .buttons-group > section > dropdown:nth-child(4) span {
            display: none;
        }

        .component-snip .header-code .buttons-group > section > dropdown:nth-child(4) > row > i {
            display: none;
        }

        .component-snip .header-code .buttons-group > section dropdown:has([drop="down"] + flex) [drop="down"] + flex {
            display: none;
        }
    }

    .component-snip .header-code .code-authenticate .authenticate-avatar {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 50px;
    }

    .component-snip .header-code .code-authenticate .authenticate-avatar .avatar-image {
        align-items: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 30px;
        width: 30px;
    }

    .component-snip .header-code .code-authenticate .authenticate-avatar .avatar-image:empty {
        background-color: white;
        background-image: url(/raw/asset/svg/github.svg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 75%;
        filter: invert(1);
    }

    .component-snip .header-code .code-authenticate .authenticate-avatar .avatar-image img {
        /* filter: invert(1); */
        border-radius: 50%;
        height: 100%;
        margin: 0;
        width: 100%;
    }
}

/*ASIDE*/
@media {
    .component-snip .aside-code {
        background: #292a2d;
        display: flex;
        height: calc(100% - 86px);
        width: 400px;
        /* z-index: 123456789; */
        /* overflow-x: hidden; */
        order: 2;
        position: relative;
    }

    @media screen and (max-width: 768px) {
        .component-snip .aside-code {
            flex-direction: column;
            width: 100%;
            height: calc((100% - 86px)/2);
        }

        .component-snip .aside-code:has(~ .hidden) {
            height: calc(100% - 86px);
        }

        .component-snip .aside-code {
            height: calc((100% - 86px)/2);
            height: 50px;
        }

        .component-snip .aside-code:has(header .file-type.active) {
            height: calc((100% - 86px)/2);
        }

        .component-snip .aside-code:has(header:has(.file-type)) ~ .block-code {
            height: 50px
        }

        .component-snip .aside-code:has(header .file-type.active) ~ .block-code {
            margin-top: auto;
            height: calc(100% - 136px);
            height: calc((100% - 86px) / 2);
        }

        .component-snip .aside-code:has(header .file-icon:not(.active)) {
            height: calc((100% - 86px)/1);
        }
    }

    @media (max-width: 640px) {
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code {
            height: 240px;
            min-height: 240px;
            width: 100%;
        }
    }

    .component-snip .aside-code > header {
        display: flex;
    }

    .component-snip .aside-code > header {
        align-items: center;
        background: #292a2d;
        display: none;
        height: 50px;
        position: absolute;
        width: 100%;
        /* z-index: 123; */
    }

    @media screen and (max-width: 768px) {
        .component-snip .aside-code > header {
            display: flex;
        }
    }

    .component-snip .aside-code > header .file-icon {
        align-items: center;
        border-right: 4px solid #292a2d;
        border-top: 4px solid #292a2d;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
        display: flex;
        font-weight: bolder;
        height: 100%;
        justify-content: center;
        width: 50px;
        padding: 0 16px;
    }

    .component-snip .aside-code > header .file-icon.active {
        background: #777;
        justify-content: center;
        padding: 0px 16px;
        width: 50px;
    }

    .component-snip .aside-code > header .file-type {
        align-items: center;
        justify-content: center;
        background: #333;
        /* border-left: 1px solid #111; */
        border-right: 4px solid #292a2d;
        border-top: 4px solid #292a2d;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        font-weight: bolder;
        height: 100%;
        padding: 0 16px;
    }

    .component-snip .aside-code > header .file-type text {
        display: flex;
        gap: 3px;
        height: 20px;
    }

    @media (max-width: 540px) {
        .component-snip .aside-code > header .file-type {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0;
            width: 50px;
        }
    }

    .component-snip .aside-code > header .file-type.active {
        background: #555;
    }

    .component-snip .aside-code > header .file-type text picture {
        display: inline-flex;
        width: 20px;
    }

    .component-snip .aside-code > header .file-type text picture svg {
        height: 100%;
        width: 100%;
    }

    .component-snip .aside-code > header .file-type text span {
        display: inline-flex;
        font-size: 16px;
    }

    @media (max-width: 540px) {
        .component-snip .aside-code > header .file-type text span {
            display: none;
        }
    }

    .component-snip .aside-code > section {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }

    .component-snip .aside-code > section .block-line {
        display: none;
    }

    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(1).active) ~ .block-line {
        border-left: 1px solid #777;
        border-right: 1px solid #777;
    }

    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(1).active) ~ .block-line {
        border-left: 1px solid #777;
        border-right: 1px solid #777;
    }

    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code .block-line {
        background: #333;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        display: flex;
        height: 100%;
        order: unset;
        width: 20px;
    }

    @media (max-width: 768px) {
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(1).active) ~ aside.aside-code .block-line {
            display: none;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2).active) ~ aside.aside-code .block-line {
            display: none;
        }

        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(3).active) ~ aside.aside-code .block-line {
            display: none;
        }
    }

    .component-snip .aside-code > section:has(.code-file dropdown:last-child > column.active) {
        z-index: 1;
    }

    .component-snip .aside-code .code-file {
        background: #555;
        display: flex;
        flex: 1;
        flex-direction: column;
        height: calc(100%/3);
        width: 100%
    }

    @media (min-width: 769px) {
        .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > row > picture:nth-child(2):not(.active)) ~ aside.aside-code .code-file:not(:first-child) {
            border-top: 1px solid #777;
        }
    }

    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code .file-icon {
        /* display: none; */
    }

    @media (max-width: 768px) {
        .component-snip .aside-code .code-file:not(.active) {
            display: none;
        }
    }

    .component-snip .aside-code .code-file dropdown:last-child > column:not(.active) {
        display: none;
    }

    .component-snip .aside-code .code-file dropdown:last-child > column.active {
        background: #999;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        /* box-shadow: 0 0 10pc -9px; */
        border-radius: 5px;
        font-size: 13px;
        font-weight: bolder;
        line-height: 36px;
        padding: 0px 20px;
        position: absolute;
        width: 120px;
        right: 10px;
        top: calc(100% + 5px);
        /* z-index: 12345678901; */
        /* position: fixed; */
        /* top: 0; */
    }

    .component-snip .aside-code .code-file dropdown:last-child > column text {
        display: flex;
        flex-direction: column;
    }

    .component-snip .aside-code .code-file dropdown:last-child {
        flex-direction: column;
    }

    .component-snip .aside-code .code-file dropdown i {
        width: 50px;
        height: 50px;
    }

    .component-snip .aside-code .code-file *:has(dropdown:last-child) {
        z-indeX: 123;
    }

    .component-snip .aside-code .code-html {
        /* background: red; */
        /* height: 100%; */
        /* width: 100%; */
    }

    .component-snip .aside-code .code-css {
        /* background: green; */
        /* height: 100%; */
        /* width: 100%; */
    }

    .component-snip .aside-code .code-js {
        /* background: blue; */
        /* height: 100%; */
        /* width: 100%; */
    }

    .component-snip .aside-code .code-file > section {
        display: flex;
        flex: 1;
        overflow-x: hidden;
    }

    @media (max-width: 768px) {
        .component-snip .aside-code .code-file > section {
            padding-top: 0;
        }
    }

    .component-snip .aside-code .code-file > section > box {
        display: flex;
        flex: 1;
        width: 100%;
    }

    .component-snip .aside-code .code-file > section > box > section {
        background: #555;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        flex: 1;
        position: relative;
    }

    .component-snip .aside-code .code-file > section > box > section .CodeMirror {
        background: #555;
        height: 100%;
        width: 100%;
        /* flex: 1; */
    }

    .component-snip .aside-code .code-file header {
        align-items: center;
        background: #292a2d;
        display: flex;
        height: 50px;
        width: 100%;
        z-index: 123;
        position: relative;
    }

    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > header {
        display: flex;
        top: -50px;
        z-index: 12345;
        width: 100vw;
    }

    .component-snip header.header-code:has(.buttons-group > section dropdown [drop="down"] + flex > column > text:nth-child(2).active) ~ aside.aside-code > header > :last-child {
        margin-left: auto;
        margin: 0 0 0 auto;
    }

    @media (max-width: 768px) {
        .component-snip .aside-code .code-file header {
            align-items: center;
            background: #292a2d;
            display: flex;
            height: 50px;
            width: 100%;
            z-index: 123;
            position: fixed;
        }

        .component-snip .aside-code > header {
            z-index: 1234;
            width: 200px;
            width: 100%;
        }

        .component-snip .aside-code:has(header .file-icon.active) ~ .block-code {
            /* height: calc((100% - 86px) / 2); */
        }
    }

    .component-snip .aside-code .code-file header .file-type {
        align-items: center;
        background: #555;
        border-top: 4px solid #777;
        box-sizing: border-box;
        display: flex;
        font-weight: bolder;
        height: 100%;
        padding: 0 10px;
    }

    @media (max-width: 768px) {
        .component-snip .aside-code .code-html header .file-type {
            /* background: red; */ display: none;
        }
    }

    .component-snip .aside-code .code-file header > i {
        height: 50px;
        width: 50px;
    }

    .component-snip .aside-code .code-file header > i:nth-last-child(2) {
        margin-left: auto;
    }

    .component-snip .aside-code .code-css header .file-type {
        /* background: green; */
        height: 100%;
    }

    .component-snip .aside-code .code-js header .file-type {
        /* background: blue; */
        height: 100%;
    }
}

@media {
    .component-snip .block-code .file-icon {
        display: inline-flex;
        height: 50px;
        /* margin-left: auto; */
        width: 50px;
    }

    .component-snip .block-code .file-icon i:has(con) {
        display: inline-flex;
        height: 50px;
        width: 50px;
    }

    .component-snip .block-code .file-text {
        border-right: 1px solid;
        padding: 0 20px;
    }

    .component-snip .block-code .file-type {
        align-items: center;
        background: #555;
        border-top: 4px solid #777;
        box-sizing: border-box;
        display: inline-flex;
        font-weight: bolder;
        line-height: 46px;
        padding: 0 10px;
        margin-right: auto;
    }
}

@media {
    .component-snip > .block-line {
        background: #333;
        height: calc(100% - 86px);
        order: 3;
        width: 20px;
    }

    @media (max-width: 768px) {
        .component-snip .block-line {
            display: none;
            height: 10px;
            width: 100%;
        }
    }
}

/*BLOCK*/
@media {
    .component-snip .block-code {
        display: inline-flex;
        flex: 1;
        flex-direction: column;
        height: calc(100% - 86px);
        order: 4;
        width: 100%;
        position: relative;
    }

    .component-snip .block-code.hidden {
        display: none;
    }

    @media (max-width: 768px) {
        .component-snip .block-code {
            display: inline-flex;
            flex: unset;
            height: calc((100% - 136px)/1);
            width: 100%;
        }
    }

    .component-snip .block-code > section {
        background: #555;
        width: 100%;
        height: calc(100%/2.75);
        position: relative;
    }

    .component-snip .block-code > section.hidden {
        display: none;
    }

    .component-snip .block-code > section card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .component-snip .block-code > section card > header {
        align-items: center;
        background: #292a2d;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 100%;
    }

    .component-snip .block-code > section card > section {
        background: #555;
        display: flex;
        flex: 1;
        /* height: calc(100% - 86px); */
        width: 100%;
    }

    @media (max-width: 768px) {
        .component-snip .block-code > section {
            background: #555;
            bottom: 0;
            width: 100%;
            height: calc(100%/1);
            position: absolute;
        }

        .component-snip .block-code > section card > section {
            background: #555;
            display: flex;
            flex: 1;
            /* height: calc(100% - 86px); */
            width: 100%;
            position: relative;
        }
    }

    .component-snip .block-code > section card > footer {
        background: #777;
        display: flex;
        position: relative;
        bottom: 0;
        right: 0;
        /* height: 100%; */
        min-height: 20px;
        min-height: 30px;
        width: 100%;
    }

    .component-snip .block-code > section card > footer i {
        height: 20px;
        margin: 0 5px;
        width: 20px;
    }

    .component-snip .block-code > section card > footer i con {
        --ggs: 0.6;
    }

    .component-snip .block-code > section card > footer box {
        /* display: flex; */
        /* flex: 1; */
        width: 100%;
    }

    .component-snip .block-code > section card > footer box form {
        align-items: flex-start;
        display: flex;
        min-height: 20px;
        justify-content: center;
        padding: 3px 0;
        /* padding: 0; */
    }

    .component-snip .block-code > section card > footer i + textarea {
        background: none;
        border: sienna;
        color: white;
        display: flex;
        flex: 1;
        /* font-family: Arial; */
        font-size: 13px;
        height: 20px;
        line-height: 20px;
        outline: none;
        padding: 0;
        resize: none;
        width: 100%;
    }
}

/*FOOTER*/
@media {
    .component-snip .footer-snippet {
        /* display: inline-flex; */
        /* flex: 1; */
        height: auto;
        height: 36px;
        /* width: 100%; */
        background: aliceblue;
        background: #1a1a1a;
        /* border-bottom: 1px solid #666; */
        box-sizing: border-box;
        display: flex;
        order: 5;
        /* padding: 10px; */
        position: relative;
        width: 100%;
        z-index: 12345;
    }

    .component-snip .footer-snippet > row {
        justify-content: space-between;
        width: 100%;
    }

    .component-snip .footer-snippet card {
    }

    .component-snip .footer-snippet card box {
        /* background: #777; */
        font-size: 13;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
    }

    .component-snip .footer-snippet card box > * {
        align-items: center;
        gap: 3px;
        height: 36px;
        justify-content: center;
    }

    .component-snip .footer-snippet card box i {
        height: 30px;
        width: 30px;
    }

    .component-snip .footer-snippet card box i con {
        --ggs: 0.75;
    }

    .component-snip .footer-snippet card box:hover {
        /* background: #333; */
    }

    .component-snip .footer-snippet card box:not(:last-child) {
        border-right: 1px solid #333;
    }

    @media (max-width: 768px) {
        .component-snip .footer-snippet card box:not(:last-child) {
            border: 0;
        }

        .component-snip .footer-snippet .tools-tool text {
            border: 0;
            /* display: none; */
        }
    }

    @media (max-width: 480px) {
        .component-snip .footer-snippet card box {
            border: 0;
        }
    }

    @media (max-width: 375px) {
        .component-snip .footer-snippet card box {
            padding: 0;
        }
    }

    .component-snip .footer-snippet > section {
        /* height: 36px; */
        /* line-height: 36px; */
    }

    .component-snip .footer-snippet .tools-tool {
        /* margin: 5px; */
    }

    @media (max-width: 768px) {
        .component-snip .footer-snippet .tools-tool text {
            border: 0;
            display: none;
        }
    }
}
