@media {
    [route="/*"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        padding-top: 50px;
    }

    @media (max-width: 768px) {
        [route="/*"] {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

@media {
    [route="/*"] .header-user > row {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
    }

    [route="/*"] .header-user .user-authenticate {
        height: 30px;
        margin-left: auto;
        width: 30px;
    }

    [route="/*"] .header-user .user-authenticate .authenticate-avatar i {
        border-radius: 50%;
        height: 30px;
        overflow: hidden;
        width: 30px;
    }

    [route="/*"] .header-user .user-authenticate .authenticate-avatar i img {
        height: 100%;
        width: 100%;
    }

    [route="/*"] .header-user .user-authenticate .authenticate-avatar i:has(img:not([src])) {
        border: 1px solid #777;
    }
}

@media {
    [route="/*"] .block-cover {
        /* background-color: #222; */
        position: relative;
        max-width: 100%;
    }

    [route="/*"] .block-cover > column {
        padding-bottom: 100px;
        position: relative;
        z-index: 123;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover > column {
            height: 100%;
            padding-bottom: 0px;
            position: relative;
            z-index: 123;
        }
    }

    [route="/*"] .block-cover .cover-photo {
        margin: auto;
        padding-top: 170px;
        max-width: 960px;
        width: calc(100% - 20px);
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo {
            padding: 120px 0 60px;
        }
    }

    [route="/*"] .block-cover .cover-photo > flex {
        gap: 10px;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo > flex {
            flex-direction: column;
            gap: 10px;
        }
    }

    [route="/*"] .block-cover .cover-photo > column {
        align-items: center;
        /* text-align: center; */
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar {
        display: flex;
        margin: 0;
        /* width: 100%; */
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar > column {
        align-items: self-start;
        justify-content: flex-start;
        width: 100%;
    }

    [route="/*"] .block-cover .cover-photo .photo-user {
        display: flex;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats {
        align-items: center;
        display: flex;
        margin: 20px 0;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats .stats-icon {
        opacity: 0.5;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats [name="followers"] {
        font-weight: bolder;
        margin-right: 3px;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats [name="followers"] + * {
        color: #777;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats [name="following"] {
        font-weight: bolder;
        margin-right: 3px;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats [name="following"] + * {
        color: #777;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats :nth-child(4) {
        font-weight: bolder;
        margin: 0 5px;
    }
    
    [route="/*"] .block-cover .cover-photo .photo-user .stats i.stats-icon {
        align-items: center;
        display: inline-flex;
        height: 20px;
        justify-content: Center;
        width: 20px;
    }

    [route="/*"] .block-cover .cover-photo .photo-user .follow {
        background: #444;
        border: 1px solid #777;
        border-radius: 5px;
        color: #ccc;
        font-size: 14px;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }

    [route="/*"] .block-cover .cover-photo .photo-user .follow.hidden {
        display: none;
    }

    [route="/*"] .block-cover .cover-photo .photo-user .profile {
        background: #444;
        border: 1px solid #777;
        border-radius: 5px;
        color: #ccc;
        font-size: 14px;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
        width: 100%;
        height: 30px;
        margin-bottom: 20px;
    }

    [route="/*"] .block-cover .cover-photo .photo-user .profile.hidden {
        display: none;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo .photo-user .follow {
            margin: 20px 0;
            order: 5;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-user > column {
        flex: 1;
        justify-content: end;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(1) {
        font-size: 24px;
        font-weight: bolder;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(1):empty {
        display: none;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(2) {
        color: #ccc;
        font-size: 24px;
        margin-bottom: 10px;
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture {
        background-color: #292a2d;
        border-radius: 15%;
        box-sizing: border-box;
        height: 160px;
        overflow: hidden;
        /* padding: 10px; */
        width: 160px;
    }

    @media (max-width: 960px) {
        [route="/*"] .block-cover .cover-photo .photo-avatar picture {
            height: 120px;
            width: 120px;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture:empty {
        border: 1px solid #555;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo .photo-avatar picture {
            height: 120px;
            width: 120px;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }

    [route="/*"] .block-cover > footer {
        /* background: #292a2d; */
        /* border-bottom: 1px solid #555; */
        border-top: 1px solid #555;
        box-sizing: border-box;
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: end;
        padding: 0 20px;
    }

    @media (max-width: 768px) {
        [route="/*"] .block-cover .cover-stats .stats-follow {
            align-items: center;
            display: flex;
            height: 75px;
            justify-content: end;
            padding: 0 20px;
            margin-top: 0px;
        }
    }

    [route="/*"] .block-cover .cover-stats .stats-follow > section {
        gap: 10px;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow > section > text > span:last-child {
        color: #777;
    }
}

@media {    
    [route="/*"] .block-cover .cover-photo .photo-user > column {
        flex: 1;
        justify-content: end;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(1) {
        font-size: 24px;
        font-weight: bolder;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(1):empty {
        display: none;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(2) {
        color: #ccc;
        font-size: 24px;
        margin-bottom: 10px;
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture {
        background-color: #292a2d;
        border-radius: 15%;
        box-sizing: border-box;
        height: 160px;
        overflow: hidden;
        /* padding: 10px; */
        width: 160px;
    }

    @media (max-width: 960px) {
        [route="/*"] .block-cover .cover-photo .photo-avatar picture {
            height: 120px;
            width: 120px;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture:empty {
        border: 1px solid #555;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo .photo-avatar picture {
            height: 120px;
            width: 120px;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }

    [route="/*"] .block-cover > footer {
        /* background: #292a2d; */
        /* border-bottom: 1px solid #555; */
        border-top: 1px solid #555;
        box-sizing: border-box;
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: end;
        padding: 0 20px;
    }

    @media (max-width: 768px) {
        [route="/*"] .block-cover .cover-stats .stats-follow {
            align-items: center;
            display: flex;
            height: 75px;
            justify-content: end;
            padding: 0 20px;
            margin-top: 0px;
        }
    }

    [route="/*"] .block-cover .cover-stats .stats-follow > section {
        gap: 10px;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow > section > text > span:last-child {
        color: #777;
    }
}

@media {
    [route="/*"] .block-cover {
        /* background-color: #222; */
        position: relative;
        width: 320px;
    }

    @media (max-width: 768px) {
        [route="/*"] .block-cover {
            position: relative;
            width: 100%
        }
    }

    [route="/*"] .block-cover > column {
        height: auto;
        /* padding-bottom: 25px; */
        position: relative;
        z-index: 123;
    }

    [route="/*"] .block-cover .cover-photo {
        padding: 20px 20px 0;
        position: fixed;
        top: 50px;
        width: 280px;
    }

    @media (max-width: 768px) {
        [route="/*"] .block-cover .cover-photo {
            flex: 1;
            padding: 0;
            position: relative;
            top: 0;
            width: 100%;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar {
        width: 100%;
    }

    @media (max-width: 768px) {
        [route="/*"] .block-cover .cover-photo .photo-avatar {
            margin-right: auto;
            width: 180px;
        }

        [route="/*"] .block-cover .cover-photo > * {
            flex-direction: row;
            gap: 10px;
            align-items: center;
            padding: 20px 10px;
        }
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo > * {
            flex-direction: column;
            gap: 10px;
            align-items: center;
            padding: 20px 10px;
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-user {
        flex: 1;
        margin: 10px 0;
        width: 100%;
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(1) {
        font-size: 24px;
        font-weight: bolder;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(1) {
            /* text-align: center; */
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(2) {
        color: #ccc;
        font-size: 16px;
    }

    @media (max-width: 480px) {
        [route="/*"] .block-cover .cover-photo .photo-user text:nth-child(2) {
            /* text-align: center; */
        }
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture {
        background-color: #292a2d;
        background: #555;
        /* border: 1px solid #555; */
        border-radius: 15%;
        border-radius: 50%;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        padding-top: 100%;
        position: relative;
        width: 100%;
    }

    [route="/*"] .block-cover .cover-photo .photo-avatar picture img {
        height: 100%;
        object-fit: contain;
        position: absolute;
        top: 0;
        width: 100%;
    }

    [route="/*"] .block-cover > footer {
        /* background: #292a2d; */
        border-bottom: 1px solid #555;
        border-top: 1px solid #555;
        box-sizing: border-box;
        bottom: 0;
        display: none;
        position: absolute;
        width: 100%;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: end;
        padding: 0 20px;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow > section {
        gap: 10px;
    }

    [route="/*"] .block-cover .cover-stats .stats-follow > section > text > span:last-child {
        color: #777;
    }
}

@media {
    [route="/*"] .block-source {
        /* background-color: #222; */
        margin-right: 20px;
        max-width: calc(100% - 340px);
        position: relative;
        width: 960px;
    }

    @media (max-width: 768px) {
        [route="/*"] .block-source {
            position: relative;
            max-width: 100%;
        }
    }

    [route="/*"] .block-source .source-search {
        border: 1px solid #555;
        border-radius: 3px;
        flex: 1;
    }

    [route="/*"] .block-source .source-search form {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 16px;
        width: 100%;
    }

    [route="/*"] .block-source .source-filter form {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    [route="/*"] .block-source .source-filter form box {
        border: 1px solid #777;
        border-radius: 3px;
        font-size: 13px;
        line-height: 30px;
        padding: 0 10px;
    }

    [route="/*"] .block-source > header {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-between;
        padding: 10px 0;
    }

    @media (max-width: 858px) {
        [route="/*"] .block-source > header {
            row-gap: 10px;
        }
    }

    [route="/*"] .block-source .source-code {
        /* background-color: #222; */
        border-bottom: 1px solid #555;
        border-top: 1px solid #555;
        /* margin: 20px 0; */
        position: relative;
    }

    [route="/*"] .block-source .source-code > column > box:not(:last-child) {
        /* background-color: #292a2d; */
        border-bottom: 1px solid #555;
        box-sizing: border-box;
    }

    [route="/*"] .block-source .source-code > column > box > row {
        align-items: center;
        /* margin: auto; */
        /* max-width: 768px; */
        padding: 10px 0;
    }

    [route="/*"] .block-source .source-code > column > box > row > picture {
        /* background-color: black; */
        border: 1px solid #555;
        border-radius: 15%;
        box-sizing: border-box;
        height: 64px;
        width: 64px;
    }

    [route="/*"] .block-source .source-code > column > box > row > text {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    [route="/*"] .block-source .source-code > column > box > row > text > span:first-child {
        font-weight: bolder;
    }

    [route="/*"] .block-source .source-code > column > box > row > text > span:last-child {
        color: #ccc;
        font-size: 13px;
    }

    [route="/*"] .block-source .source-code > column > box > row > i {
        margin-left: auto;
    }
}
