@media {
    [component="wide"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

@media {    
    [component="wide"] .live-preview {
        border-left: 1px solid #555;
        flex: 1;
        height: calc(100% - 42px);
    }
}

@media {    
    [component="wide"] line {
        /* background: #555555; */
        cursor: ew-resize;
        height: calc(100% - 42px);
        width: 10px;
    }
}

@media {    
    .header-wide {
        background: #292a2d;
        border-bottom: 1px solid #555;
        box-sizing: border-box;
        height: 50px;
        padding: 0 10px;
        position: fixed;
        width: 100%;
        z-index: 12345;
    }
    .header-wide > row {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
    }
    
    .header-wide .shell-brand .brand-image > section {
        align-items: center;
        justify-content: center;
    }
    
    .header-wide .shell-brand .brand-image i {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
        margin-left: auto;
        width: 30px;
    }
    
    .header-wide .shell-authenticate {
        height: 30px;
        margin-left: auto;
        width: 30px;
    }
    
    .header-wide .shell-authenticate .authenticate-avatar avi {
        border-radius: 50%;
        height: 30px;
        overflow: hidden;
        width: 30px;
    }
    
    .header-wide .shell-authenticate .authenticate-avatar avi:empty {
        border: 1px solid #555;
        box-sizing: border-box;
    }

    .header-wide .shell-authenticate .authenticate-avatar avi img {
        height: 100%;
        width: 100%;
    }
}

@media {
    [component="wide"] .address-bar {
        border-bottom: 1px solid #555;
        box-sizing: border-box;
        height: 42px;
        width: 100%;
    }
    
    [component="wide"] .address-bar .bar-history {
        height: 100%;
        width: 126px;
    }
    
    [component="wide"] .address-bar .bar-history box {
        align-items: center;
        display: flex;
        height: 42px;
        justify-content: center;
        width: 42px;
    }
    
    [component="wide"] .address-bar .bar-history .history-back {
        opacity: 0.5;
    }
    
    [component="wide"] .address-bar .bar-history .history-forward {
        opacity: 0.5;
    }

    [component="wide"] .address-bar .bar-search {
        display: flex;
        flex: 1;
        height: 42px;
    }

    [component="wide"] .address-bar .bar-search > form {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }
    
    [component="wide"] .address-bar .bar-search box {
        align-items: center;
        /* border-radius: 50px; */
        display: flex;
        height: 42px;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }

    [component="wide"] .address-bar .bar-search .search-box {
        background: #555;
        border-radius: 50px;
        height: 34px;
        margin: 0;
        width: 100%;
    }    

    [component="wide"] .address-bar .bar-search .search-box > * {
        border: 0;
        height: 100%;
        width: 100%;
    }

    [component="wide"] .address-bar .bar-search .search-box > row > * {
        align-items: center;
        background: transparent;
        border: 0;
        display: flex;
        justify-content: center;
        line-height: 34px;
        margin: 0;
    }

    [component="wide"] .address-bar .bar-search .search-box > row > [name="security"] ico {
        align-items: center;
        display: flex;
        height: 34px;
        justify-content: center;
        width: 34px;
    }

    [component="wide"] .address-bar .bar-search .search-box > row > [name="security"] ico n {
        --ggs: calc(2/3);
    }

    [component="wide"] .address-bar .bar-search .search-box > row > [name="security"][secure="true"] {
        color: #32cd32
    }

    [component="wide"] .address-bar .bar-search .search-box > row > [name="security"][secure="true"] ~ [name="protocol"] {
        color: #32cd32
    }

    [component="wide"] .address-bar .bar-search .search-box > row > [name="security"][secure="false"] {
        color: #ff3b30;
    }

    [component="wide"] .address-bar .bar-search .search-box > row > [name="security"][secure="false"] ~ [name="protocol"] {
        color: #ff3b30;
        text-decoration: line-through;
    }

    [component="wide"] .address-bar .bar-search .search-box input {
        background: transparent;
        border: 0;
        margin: 0;
        text-indent: 44px;
        width: 100%;
    }

    [component="wide"] .address-bar .bar-search .search-box input:focus {
        outline: 0;
    }

    [component="wide"] .address-bar .bar-avatar .avatar-authenticate {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 42px;
        width: 42px;
    }

    [component="wide"] .address-bar .bar-avatar .avatar-authenticate picture {
        background: black;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }
}

@media {    
    [component="wide"] .dev-tools {
        border-right: 1px solid #555;
        display: flex;
        flex-direction: column;
        height: calc(100% - 42px);
        overflow: hidden;
        width: 960px;
    }
    
    [component="wide"] .dev-tools > header {
        border-bottom: 1px solid #555;
        color: #999;
        font-size: 13px;
        line-height: 23px;
        height: 23px;
        width: 100%;
    }

    [component="wide"] .dev-tools > column {
        flex: 1;
        height: calc(100% - 23px);
    }

    [component="wide"] .dev-tools .tab-sources {
        display: flex;
        height: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .context-menu {
        font-size: 13px;
    }

    [component="wide"] .dev-tools .tab-sources .context-menu {
        font-size: 13px;
    }

    [component="wide"] .dev-tools .tab-sources .context-menu > column {
        gap: 5px 10px;
        line-height: 22px;
        padding: 10px 10px;
    }

    [component="wide"] .dev-tools .tab-sources .context-menu > column:not(:last-child) {
        border-bottom: 1px solid #555
    }

    [component="wide"] .dev-tools .tab-sources .context-menu.popup-dir {
        background-color: #292a2d;
        border: 1px solid #555;
        position: absolute;
        z-index: 12345;
    }

    [component="wide"] .dev-tools .tab-sources .context-menu.popup-file {
        background-color: #292a2d;
        border: 1px solid #555;
        position: absolute;
        z-index: 123;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files {
        color: #999;
        flex: 1;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text {
        align-items: center;
        display: flex;
        font-size: 12px;
        gap: 5px;
        padding: 0px 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text[data-before]:before {
        /* opacity: 0; */
        text-align: center;
        width: 14px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text:has(.icon-file):before {
        content: '';
        text-align: center;
        width: 14px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text:has(.icon-file) {
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text i {
        height: 18px;
        width: 24px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text .icon-folder {
        --ggs: calc(2/3);
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text .icon-file {
        --ggs: calc(2/3);
    }
    
    [component="wide"] .dev-tools .tab-sources > aside {
        border-right: 1px solid #555;
        display: flex;
        height: 100%;
        width: 300px;
    }
    
    [component="wide"] .dev-tools .tab-sources > section {
        display: flex;
        flex: 1;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header {
        display: flex;
        flex-direction: column;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:nth-child(1) {
        align-items: center;
        border-bottom: 1px solid #555;
        color: aliceblue;
        display: flex;
        font-size: 13px;
        justify-content: space-between;
        line-height: 23px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:nth-child(2) {
        align-items: center;
        border-bottom: 1px solid #555;
        color: #999;
        display: flex;
        gap: 5px;
        font-size: 11px;
        line-height: 24px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:nth-child(2) > i {
        --ggs: 0.75;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:first-child > span:last-child {
        border: 1px solid #555;
        border-radius: 50px;
        color: #aaa;
        line-height: 16px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        overflow: hidden;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel button {
        color: #999;
        height: 16px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text {
        align-items: center;
        color: #999;
        display: flex;
        font-size: 13px;
        gap: 5px;
        height: 23px;
        max-width: 120px;
        padding: 0 22px 0 10px;
        position: relative;
        text-overflow: ellipsis;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text.active {
        background: black;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text:not(.active):hover {
        background: #444;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text > i con {
        --ggs: calc(2/3);
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text i:last-child {
        position: absolute;
        right: 0;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text:not(.active):not(:hover) i:last-child {
        display: none;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > header {
        align-items: center;
        border-bottom: 1px solid #555;
        display: flex;
        /* gap: 20px; */
        height: 23px;
        /* padding: 0 10px; */
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column {
        background: transparent;
        flex: 1;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > cell {
        /* display: none; */
        height: 100%;
        overflow-x: hidden;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > cell > div{
        /* display: none; */
        height: calc(100% - 181px);
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > [css-display] {
        background: transparent;
        /* display:  flex; */
        flex: 1;
        height: 100%;
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > [css-display] .CodeMirror {
        /* background: transparent; */
        /* display:  flex; */
        /* flex: 1; */
        height: 100%;
        /* width: 100%; */
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > [css-display] div {
        /* height: 100%; */
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section {
        flex: 1;
        height: calc(100% - 23px);
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section > cell {
        height: 100%;
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section > cell:not([css-display]) {
        display: none;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section > cell > .CodeMirror {
        height: 100%;
        width: 100%;
    }
    
    [component="wide"] .dev-tools .tools-tabs {
        width: 100%;
    }
    
    [component="wide"] .dev-tools .tools-tabs box {
        padding: 0 10px;
    }
    
    [component="wide"] .dev-tools .tools-tabs box:hover {
        background: #444;
        color: #fff;
    }
}

@media {
    [component="wide"] .dev-tools .tab-sources .sources-panel > column > .CodeMirror[css-display="flex"] {
        height: 50%;
    }
}