@media {
    [component="wide"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

@media {    
    [component="wide"] .live-preview {
        border-left: 1px solid #555;
        flex: 1;
        height: 100%;
    }
}

@media {    
    [component="wide"] line {
        /* background: #555555; */
        cursor: ew-resize;
        height: 100%;
        width: 10px;
    }
}

@media {    
    .header-wide {
        background: #292a2d;
        border-bottom: 1px solid #555;
        box-sizing: border-box;
        height: 50px;
        padding: 0 10px;
        position: fixed;
        width: 100%;
        z-index: 12345;
    }
    .header-wide > row {
        align-items: center;
        display: flex;
        flex: 1;
        height: 100%;
    }
    
    .header-wide .shell-brand .brand-image > section {
        align-items: center;
        justify-content: center;
    }
    
    .header-wide .shell-brand .brand-image i {
        align-items: center;
        display: flex;
        height: 30px;
        justify-content: center;
        margin-left: auto;
        width: 30px;
    }
    
    .header-wide .shell-authenticate {
        height: 30px;
        margin-left: auto;
        width: 30px;
    }
    
    .header-wide .shell-authenticate .authenticate-avatar avi {
        border-radius: 50%;
        height: 30px;
        overflow: hidden;
        width: 30px;
    }
    
    .header-wide .shell-authenticate .authenticate-avatar avi:empty {
        border: 1px solid #555;
        box-sizing: border-box;
    }

    .header-wide .shell-authenticate .authenticate-avatar avi img {
        height: 100%;
        width: 100%;
    }
}

@media {    
    [component="wide"] .dev-tools {
        border-right: 1px solid #555;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        width: 960px;
    }
    
    [component="wide"] .dev-tools > header {
        border-bottom: 1px solid #555;
        color: #999;
        font-size: 13px;
        line-height: 23px;
        height: 23px;
        width: 100%;
    }

    [component="wide"] .dev-tools > column {
        flex: 1;
        height: calc(100% - 23px);
    }

    [component="wide"] .dev-tools .tab-sources {
        display: flex;
        height: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files {
        color: #999;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text {
        align-items: center;
        display: flex;
        font-size: 12px;
        gap: 5px;
        padding: 0px 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text[data-before]:before {
        opacity: 0;
        text-align: center;
        width: 14px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text:has(.icon-file):before {
        content: '';
        text-align: center;
        width: 14px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text:has(.icon-file) {
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text i {
        height: 18px;
        width: 24px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text .icon-folder {
        --ggs: calc(2/3);
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > column > text .icon-file {
        --ggs: calc(2/3);
    }
    
    [component="wide"] .dev-tools .tab-sources > aside {
        border-right: 1px solid #555;
        height: 100%;
        width: 300px;
    }

    [component="wide"] .dev-tools .tab-sources > section {
        display: flex;
        flex: 1;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header {
        display: flex;
        flex-direction: column;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:nth-child(1) {
        align-items: center;
        border-bottom: 1px solid #555;
        color: aliceblue;
        display: flex;
        font-size: 13px;
        justify-content: space-between;
        line-height: 23px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:nth-child(2) {
        align-items: center;
        border-bottom: 1px solid #555;
        color: #999;
        display: flex;
        gap: 5px;
        font-size: 11px;
        line-height: 24px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:nth-child(2) > i {
        --ggs: 0.75;
    }

    [component="wide"] .dev-tools .tab-sources .sources-files > header > text:first-child > span:last-child {
        border: 1px solid #555;
        border-radius: 50px;
        color: #aaa;
        line-height: 16px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        overflow: hidden;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel button {
        color: #999;
        height: 16px;
        padding: 0 10px;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text {
        align-items: center;
        color: #999;
        display: flex;
        font-size: 13px;
        gap: 5px;
        height: 23px;
        max-width: 120px;
        padding: 0 22px 0 10px;
        position: relative;
        text-overflow: ellipsis;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text.active {
        background: black;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text:not(.active):hover {
        background: #444;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text > i con {
        --ggs: calc(2/3);
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text i:last-child {
        position: absolute;
        right: 0;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel text:not(.active):not(:hover) i:last-child {
        display: none;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > header {
        align-items: center;
        border-bottom: 1px solid #555;
        display: flex;
        /* gap: 20px; */
        height: 23px;
        /* padding: 0 10px; */
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column {
        background: transparent;
        flex: 1;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > cell {
        /* display: none; */
        height: 100%;
        overflow-x: hidden;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > cell > div{
        /* display: none; */
        height: calc(100% - 181px);
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > [css-display] {
        background: transparent;
        /* display:  flex; */
        flex: 1;
        height: 100%;
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > [css-display] .CodeMirror {
        /* background: transparent; */
        /* display:  flex; */
        /* flex: 1; */
        height: 100%;
        /* width: 100%; */
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > column > [css-display] div {
        /* height: 100%; */
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section {
        flex: 1;
        height: calc(100% - 23px);
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section > cell {
        height: 100%;
        width: 100%;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section > cell:not([css-display]) {
        display: none;
    }

    [component="wide"] .dev-tools .tab-sources .sources-panel > section > cell > .CodeMirror {
        height: 100%;
        width: 100%;
    }
    
    [component="wide"] .dev-tools .tools-tabs {
        width: 100%;
    }
    
    [component="wide"] .dev-tools .tools-tabs box {
        padding: 0 10px;
    }
    
    [component="wide"] .dev-tools .tools-tabs box:hover {
        background: #444;
        color: #fff;
    }
}

@media {
    [component="wide"] .dev-tools .tab-sources .sources-panel > column > .CodeMirror[css-display="flex"] {
        height: 50%;
    }
}